{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
  },
  "ecmaFeatures": {
  },
  "rules": {
    "comma-dangle": [2, "never"],
    "no-console": 2
  }
}
