{
  "extends": "airbnb/base",
  "globals": {
    "VERSION": false
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-console": [
      2
    ],
    "max-len": [
      2,
      160,
      4
    ],
    "no-trailing-spaces": [
      2,
      {
        "skipBlankLines": true
      }
    ],
    "no-unused-vars": [
      2,
      {
        "vars": "all",
        "args": "none"
      }
    ],
    "arrow-body-style": [
      0
    ]
  }
}
